[Unit]
Description=Test deployement bot
After=syslog.target
After=network.target

[Service]
Restart=always
RestartSec=2s
Type=simple
User=minusGolosAdmin
Group=minusGolosAdmin
MemoryLimit=2G
WorkingDirectory=/home/minusGolosAdmin/readyProject
ExecStart=/home/minusGolosAdmin/readyProject/myenv/bin/python /home/minusGolosAdmin/readyProject/main.py

[Install]
WantedBy=multi-user.target
