[Unit]
Description=Test deployment bot
After=syslog.target network.target

[Service]
Restart=always
RestartSec=10s
Type=simple
User=minusGolosAdmin
Group=minusGolosAdmin
MemoryMax=7G
WorkingDirectory=/home/minusGolosAdmin/readyProject
ExecStart=/bin/bash -c "source /home/minusGolosAdmin/miniconda3/etc/profile.d/conda.sh && conda activate base && source /home/minusGolosAdmin/readyProject/myenv/bin/activate && exec>

[Install]
WantedBy=multi-user.target
