[Unit]
Description=Test deployement bot
After=syslog.target
After=network.target

[Service]
Restart=always
RestartSec=5s
Type=simple
User=minusGolosAdmin
Group=minusGolosAdmin
MemoryLimit=14G
WorkingDirectory=/home/minusGolosAdmin/readyProject
ExecStart=/home/minusGolosAdmin/readyProject/myenv/bin/python /home/minusGolosAdmin/readyProject/check.py

[Install]
WantedBy=multi-user.target
